backend/.env
backend/__pycache__/
backend/app/api/__pycache__/
backend/app/services/__pycache__/
backend/app/websockets/__pycache__/
backend/venv/
frontend/.next/
frontend/next-env.d.ts
frontend/node_modules/
frontend/package-lock.json